<div class="panel panel-danger" style="position: absolute;">
	<div class="panel-heading">Confirmação</div>
	<div class="panel-body" style="min-height: 0px; margin: 10px; margin-left: 15px; margin-right: 15px;">
		<p>{{message}}</p>
	</div>
	<div class="panel-footer">
		<mo-toolbar>
			<button class="btn btn-danger" id="button-confirmacao-ok" type="button" style="padding-left: 15px; padding-right: 15px;" ng-click="ok()">Sim</button>
			<button class="btn btn-default" id="button-confirmacao-cancelar" type="button" style="padding-left: 15px; padding-right: 15px;" ng-click="cancelar()">Não</button>
		</mo-toolbar>
	</div>
</div>
